<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type="com.milktea.member.model.vo.Member" id="memberResultMap">
		<id 	property="memberId"   column="MEMBER_ID"/>
		<result property="memberPwd"  column="MEMBER_PWD"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="gender" 	  column="GENDER"/>
		<result property="age"		  column="AGE"/>
		<result property="email"	  column="EMAIL"/>
		<result property="phone" 	  column="PHONE"/>
		<result property="address" 	  column="ADDRESS"/>
		<result property="hobby" 	  column="HOBBY"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
  <select id="selectOneByLogin" resultMap="memberResultMap">
  	select * from member_tbl where member_id = #{memberId} and member_pwd= #{memberPwd}
  </select>
  <insert id="insertMember">
  	INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPwd},#{memberName},#{gender},#{age},#{email},#{phone},#{address},#{hobby},DEFAULT)
  </insert>
</mapper>