<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="NoticeMapper">
 	<insert id="insertNotice">
 		insert into notice_tbl
 		values(seq_notice_no.nextval,#{noticeSubject},#{noticeContent},#{noticeWriter},default, default,#{attachmentName}, #{attachmentPath},default)
 	</insert>
 </mapper>